<nav>
  <ul class="pagination">
    <li
      class="page-item"
      [ngClass]="{ disabled: currentPage === 0 }"
      (click)="prevPage()"
    >
      <a href="#" class="page-link" tabindex="-1" aria-disabled="true"
        >Previous</a
      >
    </li>

    <ng-container *appTimes="slides.length; let indexOfElement = index">
      <li
        class="page-item"
        [ngClass]="{ active: indexOfElement === currentPage }"
        *ngIf="checkWindowIndex(indexOfElement)"
      >
        <a (click)="currentPage = indexOfElement" class="page-link">
          {{ indexOfElement + 1 }}</a
        >
      </li>
    </ng-container>

    <li
      class="page-item"
      [ngClass]="{ disabled: currentPage === slides.length - 1 }"
    >
      <a
        (click)="nextPage()"
        href="#"
        class="page-link"
        tabindex="-1"
        aria-disabled="true"
        >Next</a
      >
    </li>
  </ul>
</nav>
<h1 [appClass]="'orange'">{{ slides[currentPage].title }}</h1>
<div [ngSwitch]="currentPage">
  <div *ngSwitchCase="0">test switch directive page 1</div>
  <div *ngSwitchCase="2">test switch directive page 3</div>
  <div *ngSwitchCase="3">test switch directive page 4</div>
</div>
<picture>
  <source type="image/svg+xml" />
  <img
    [src]="slides[currentPage].url"
    class="img-fluid img-thumbnail"
    alt="..."
  />
</picture>
